.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rotate-img {
  transform: rotate(90deg);
  transition: transform 1s ease-in-out;
}

.rotate-img-bis {
  transform: rotate(0);
  transition: transform 1s ease-in-out;
}

.container__square {
  box-sizing: border-box;
  // padding: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
  // border: 1px solid blueviolet;
  min-height: 90vh;
  margin-bottom: 3px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../assets/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Rend l'image plus transparente */
    filter: contrast(80%); /* Ajuste le contraste */
    z-index: -1; /* Place l'image derrière le contenu */
  }
}

h1 {
  margin: auto;
  width: 300px;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  left: var(--x-position);
  top: var(--y-position);
  border-radius: 100%;
  transition: border-radius 1s ease, background-color 1s ease,
    left 0.1s linear top 0.1s linear;
}

.rect {
  position: absolute;
  width: 23px;
  height: 128px;
  left: var(--x-position);
  top: var(--y-position);
  border-radius: 0%;
}

.cloud1 {
  z-index: 400;
  position: absolute;
  width: 82px;
  height: 67px;
  opacity: 0.5;
  left: var(--x-position);
  top: var(--y-position);
}

.cloud2 {
  z-index: 200;
  opacity: 0.8;
  position: absolute;
  width: 117px;
  height: 63px;
  left: var(--x-position);
  top: var(--y-position);
}

.off {
  display: none;
}

.plane {
  z-index: 300;
  position: absolute;
  width: 68px;
  height: 55px;
  border: none;
  background-image: url("/assets/plane/plane.png");
  background-size: contain;
  transition: background-image 0.2s ease;
  left: var(--x-position);
  top: var(--y-position);
  box-sizing: border-box;
}

/* Définissez le fond d'image pour l'inclinaison vers la gauche */
// .square.left-plane {
//   border: none;
//   background-image: url("/assets/plane/leftPlane.png");
// }

// /* Définissez le fond d'image pour l'inclinaison vers la droite */
// .square.right-plane {
//   border: none;
//   background-image: url("../public/assets/plane/rightPlane.png");
// }

.helice {
  position: absolute;
  width: 30px;
  height: 10px;
  left: var(--x-position);
  top: var(--y-position);
}

.directionButton {
  border: 1px solid black;
  padding: 2px;
  display: block;
  border-radius: 3px;
  width: 40px;
  padding: auto;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px grey;
    color: white;
  }
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  margin: 5px 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamePad {
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bullet {
  position: absolute;
  // background-color: rgb(224, 18, 18);
  width: 10px;
  height: 10px;
  left: var(--x-position);
  top: var(--y-position);
  border-radius: 100%;
  // border: 1px solid black;
}

.missile {
  position: absolute;
  // background-color: rgb(224, 18, 18);
  width: 40px;
  height: 40px;
  left: var(--x-position);
  top: var(--y-position);
  border-radius: 100%;
  // border: 1px solid black;
}

.subMissile {
  position: absolute;
  width: 8px;
  height: 8px;
  left: var(--x-position);
  top: var(--y-position);
  border-radius: 100%;
  // border: 1px solid black;
}

.debug {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

/* Styles pour le menu pause */
/* Styles pour le menu pause */
.pause-menu {
  font-family: "Press Start 2P", cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fond semi-transparent plus foncé */

  z-index: 999; /* Pour s'assurer que le menu est au-dessus du reste du contenu */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);

  h2 {
    font-size: 36px; /* Augmenter la taille du titre */
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    /* Ajoutez une animation d'entrée */
    animation-name: slideInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0; /* Augmenter la marge entre les éléments de la liste */
    }
  }

  a {
    text-decoration: none;
    color: #ffcc00; /* Utiliser une couleur jaune pour les liens */
    font-size: 28px; /* Augmenter la taille de la police des liens */
    transition: color 0.3s;

    &:hover {
      color: #fff; /* Retour à la couleur blanche au survol */
      text-shadow: none; /* Supprimer l'ombre au survol */
    }
  }
}

.pause-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 800;
  width: 3vw;
  height: 3vw;
}

// .menu {
//   position: relative;
//   border: 1px solid black;
//   background-color: rgba(207, 38, 38, 0.788);
//   min-height: 5vh;
// }

/* Styles pour afficher le menu pause */
body.pause-active .pause-menu {
  display: flex;
}



// animations
/* Animation pour faire apparaître le titre depuis la gauche */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation pour faire apparaître un élément depuis la droite */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



/* Appliquez les animations aux éléments spécifiques */
.slide-from-right {
  animation-name: slideInFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slide-from-left {
  animation-name: slideInFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
